# Ignore everything by default
*.*

# Only format JavaScript/React files in resources/js
!resources/js/**/*.js
!resources/js/**/*.jsx
!resources/js/**/*.ts
!resources/js/**/*.tsx

# Dependencies
node_modules
vendor

# Build output
public/build
public/hot
public/storage
storage/*.key

# Other
.git
.cache
